html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: Arial, sans-serif;
  background-image:url('./bgimg.jpg');  ;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* App container */
.App {
  text-align: center;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.5); 
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 80%; 
  display: flex; 
  flex-direction: column; 
  align-items: center; 
}
h1 {
  font-size: 32px; 
  font-weight: bold; 
  color: #3d4144; 
  margin-bottom: 20px; 
  text-transform: uppercase; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 
}
/* Location input form */
form {
  margin-top: 20px;
  display: flex; 
  flex-direction: column; 
  align-items: center; 

}

input[type="text"] {
  padding: 10px;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

/* Weather container */
.weather {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 10px; 
  width: 50%; 
  padding: 20px; 
  border-radius: 10px; 
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}
/* Forecast container */
.forecast {
  display: flex; 
  justify-content: space-around; 
  width: 80%; 
  margin-bottom: 20px;
  margin-left: 10px;
}
.forecast-item {
  padding: 10px;
  border-radius: 10px; 
  background-color: rgba(255, 255, 255, 0.8); 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  margin-right: 10px; 
}

/* Error message */
.error {
  color: red;
}